:root {
  --clr-black: #3d3d3d;
  --clr-primary: #ff7171;
  --clr-gray: #989898;
}

/* Reset CSS */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

/* container */
.container {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

/* Path: styles\components\header.css */
/* Header */
#header {
  background-color: #fff;
  padding: 2rem 0;
  margin-bottom: 4rem;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; */
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

#menu a {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.18px;
  color: var(--clr-black);

  transition: color 0.3s;
}

#menu a:hover,
#left a:hover {
  color: var(--clr-primary);
}

#website-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#left h2 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.4rem;

  letter-spacing: -0.64px;

  color: var(--clr-black);
}

#left h1 {
  width: 445px;
  font-weight: 700;
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: -1.78px;
  color: var(--clr-black);
}

#left .icons-badge {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 4.8rem;
}

#left a {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.18px;
  color: #434343;
  transition: color 0.3s;
}

#right .motocycle {
  width: 50rem;
}

.icon-float img:nth-child(1) {
  left: calc(50% - 25px / 2 - 91.08px);
  top: 207.08px;
  position: absolute;
}

.icon-float img:nth-child(2) {
  left: calc(50% - 30.03px / 2 + 682.02px);
  top: 264px;
  position: absolute;
}

.icon-float img:nth-child(3) {
  position: absolute;

  left: calc(50% - 32px / 2 - 33.14px);
  top: 407.86px;
}

.icon-float img:nth-child(4) {
  position: absolute;

  left: calc(50% - 29px / 2 + 400px);
  top: 90px;
}
