* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: hsl(202deg 12% 90%);
  /* background-color: hsl(230deg 7% 14%);*/
}

img {
  max-width: 100%;
  display: block;
}

.profile {
  padding: 80px 15px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-card {
  max-width: 400px;
  width: 100%;
  background-color: hsl(230deg 7% 14%);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

.profile-card .img-box {
  max-width: 150px;
  margin: auto;
}

.profile-card .img-box img {
  border-radius: 50%;
  width: 100%;
  vertical-align: middle;
}
.profile-card .info {
  margin-top: 20px;
}

.profile-card .info h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 26px;
}
.profile-card .info p {
  text-transform: capitalize;
}

.profile-card .number {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 30px;
}
.profile-card .number h2 {
  font-size: 22px;
}
.profile-card .number p {
  text-transform: capitalize;
}
.profile-card .btns {
  margin-top: 20px;
}

.profile-card .btns .btn {
  margin: 10px;
}

@media (max-width: 400px) {
  .profile {
    padding: 30px;
  }

  .profile-card .number {
    grid-template-columns: repeat(2, 2fr);
  }

  .btn {
    width: 100%;
  }
}

@media (max-width: 350px) {
}
/* BTN */

.btn {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 16px;
  color: hsl(202deg 12% 90%);
  vertical-align: middle;
  user-select: none;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid transparent;
}

.btn-1 {
  background-color: hsl(0, 70%, 60%);
}

.btn-2 {
  border-color: hsl(202deg 12% 90%);
}
