* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;

  height: 100vh;

  display: grid;
  place-items: center;
}

main {
  border: 1px solid #eee;
  padding: 2rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

main:hover {
  box-shadow: 0 0 10px #eee;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 30px;
  color: #ffffff;
}

#search {
  padding: 10px 14px;
  border: 1px solid #d0d5dd;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  width: 300px;
  height: 44px;
}

/* responsive */

@media screen and (max-width: 768px) {
  .row {
    width: 100%;
  }
}
